    	
		body,html{
			margin:0;
			padding:0;
			width:100%;
			height:100%;
			font-family: "微软雅黑","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
		}
		/*回到顶部的相关设置*/
		#cursor{
			Z-INDEX:999999;
		}
		
		#back-to-top{

			position:fixed;
	
			bottom:100px;
	
			right:60px;
	
		}
	
		#back-to-top a{
	
			text-align:center;
	
			text-decoration:none;
	
			color:#d1d1d1;
	
			display:block;
	
			width:80px;
	
			/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
	
			-moz-transition:color 1s; 
	
			-webkit-transition:color 1s;
	
			-o-transition:color 1s;
	
		}
	
		#back-to-top a:hover{
	
			color:#979797;
	
		}
	
		#back-to-top a span{
	
			background:#d1d1d1;
	
			border-radius:6px;
	
			display:block;
	
			height:80px;
	
			width:80px;
	
			background:#d1d1d1 url(../images/arrow-up.png) no-repeat center center;
	
			margin-bottom:5px;
	
			-moz-transition:background 1s;
	
			-webkit-transition:background 1s;
	
			-o-transition:background 1s;
	
		}
	
		#back-to-top a:hover span{
	
			background:#979797 url(../images/arrow-up.png) no-repeat center center;
	
		}
		/*回到顶部的相关设置*/
		
		/*全局设置*/
		div{
			position:relative;
		}
		h2{
			font-size: 30px;
			font-weight:normal;
			padding-left:20px;
		}
		.container{
			
			width:100%;
			height:100%;
			padding-right:0px;
			padding-top:0px;
			padding-bottom:0px;
			padding-left:0px;
		}
		/*全局设置*/
		
		/*头部信息*/
		#head{
			Z-INDEX:99999;
			position:fixed;
			box-shadow:1px 1px 6px #333;
			background-color:rgba(255,255,255,0.8);
			font-weight:400;
			width:100%;
			height:69px;
		}
		#top{
			width:1150px;
			height:70px;
		}
		#topleft{
			width:500px;
			margin-top:15px;
			margin-left:10px;
			margin-bottom:10px;
			float: left;
		}
		.img{
			margin-top:0px;
		}
		#logo{
			width:60px;
			height:68px;
			right:150px;
			margin-top:-15px;
			margin-left:200px;
			float:left;
			border-radius:10px;
		}
		.tonghang{
			font-size:30px;
			margin-left:30px;
		}
		#ul1{
			float:right;
			font-size: 18px;
			padding-top: 0px;
			list-style:none;
			padding-top:0px;
			margin-right:-50px;
			
		}
		#ul1 li{
			padding-bottom:5px;
			
			margin-top:18px;
			float:left;
			text-decoration: none;
			padding-left:25px;
			padding-right:15px;
		}
		#ul1 li a{
			color:#935124;
		}
		#ul1 li a:hover{
			color:#000;
			cursor:pointer;
			text-decoration: none; 
			border-bottom:4px #000 solid;
		}
		.borders{
			height:35px;
			
		}
		/*头部信息*/
		#board{
			width:100%;
			height:100%;
			margin-top:0px;}
		/*主信息模块*/
		#main{
			Z-INDEX:0;
			width:100%;
			height:650px;
			margin-top:-25px;
			background-color:rgba(85,204,255,1);
		}
		
		#productFrame{
			width:1345px;
			height:500px;
			margin-left:0px;
			margin-top:20px;
		}
		#leftFrame{
			float:left;
			height:450px;
			width:350px;
			margin-bottom:0px;
			margin-top:50px;
			margin-left:-120px;
			position:relative;
		}
		#product{
			margin-top:75px;
			margin-left:300px;;
			width:280px;
			height:500px;
		}
		#rightFrame{
			float:right;
			width:450px;
			height:450px;
			margin-top:20px;
			margin-right:150px;
			position:relative;
		}
		#content{
			width:450px;
			height:400px;
			margin-top:115px;
			margin-left:-100px;
			position:relative;
		}
		#contentlist{
			margin-top:20px;
			width:400px;
			height:130px;
		}
		#h21{
			font-size: 25px;
			font-weight:normal;
			margin-top:0px;
			position:relative;
		}
		#contentlist li{
			font-size: 18px;
			padding-top: 5px;
			font-weight:normal;
			
		}
		.notification{
			color:#FF3E3E;
			font-size:20px;
		}
		#notification{
			margin-left:10px;
			margin-right:10px;
			border-radius:10px;
			width:80px;
			height:90px;
		}
		#btnandroid{
			width:200px;
			height:45px;
			margin-left:15px;
			background:url("../images/bt_android.png") no-repeat;
		}
		#btn{
			width:100px;
			height:55px;
		}
		/*主信息模块*/
		
		/*产品介绍模块*/
		#introduce{
			Z-INDEX:0;
			position:relative;
			margin-top:0px;
			width:100%;
			height:1650px;
			background-color:rgba(61,158,211,1);
		}
		.bar{
			height:650px;
			
		}
		.circle{
			bottom:-30px;
		}
		#intro-main{
			float:left;
			position:relative;
			width:100%;
			height:1500px;
		}
		#intro1{
			position:relative;
			margin-top:0px;
			width:100%;
			height:455px;
		}
		#intro2{
			position:relative;
			margin-top:0px;
			width:100%;
			height:455px;
		}
		#intro3{
			position:relative;
			margin-top:0px;
			width:100%;
			height:455px;
		}
		.intro-msg0{
			position:relative;
			width:300px;
			font-size:27px;
			color:#000;
			font-style:
			text-align:center;
			padding-top:70px;
			margin-left:580px;
			font-weight:bold;
		}
		.intro-msg1{
			float:left;
			width:300px;
			height:250px;
			margin-left:150px;
			margin-top:140px;
			font-size:23px;
			color:#FFF;
		}
		.intro-img1{
			float:right;
			margin-right:230px;
			margin-top:55px;
			width:450px;
			height:400px;
		}
		.intro-msg2{
			float:left;
			width:300px;
			height:250px;
			margin-left:150px;
			margin-top:140px;
			font-size:23px;
			color:#FFF;
		}
		.intro-img2{
			float:right;
			margin-right:230px;
			margin-top:55px;
			width:450px;
			height:400px;
		}
		.intro-msg3{
			float:left;
			width:300px;
			height:250px;
			margin-left:150px;
			margin-top:140px;
			font-size:23px;
			color:#FFF;
		}
		.intro-img3{
			float:right;
			margin-right:230px;
			margin-top:55px;
			width:450px;
			height:400px;
		}
		.intro-imgs{
			border-radius:15px;
			box-shadow:10px 10px 6px #666;
			width:400px;
			height:400px;
		}
		/*产品介绍模块*/
		
		/*关于我们模块*/
		#companyFrame{
			position:relative;
			margin-top:0px;
			width:100%;
			height:600px;
			
		}
		.frame{
			width:100%;
			height:650px;
			background-color:rgba(20,115,250,1)
		}
		#about{
			border-radius: 20px;
			float:left;
			margin-top:70px;
			margin-left:350px;
			width:600px;
			height:380px;
			box-shadow:10px 10px 6px #666; 
			background-color:#FDE6B5;
		}
		.companyHead{
			margin-left:25px;
			margin-top:35px;
			font-size:30px;
			font-weight:bold;
		}
		.name{
			font-size:45px;
			color:#4DCAEE;
		}
		.companyContent{
			margin-top:15px;
			margin-left:45px;
			font-size:20px;
		}
		/*关于我们模块*/
		/*快速使用指南*/
		#how-to-use{
			Z-INDEX:0;
			width:100%;
			height:650px;
			background-color:rgba(37,145,225,1);
		}
		#use-title{
			width:100%;
			height:150px;
		}
		.stepmsg{
			top:65px;
		}
		
		#steps{
			width:100%;
			position:relative;
			height:300px;
			
		}
		
		.step{
			width:65px;
			height:65px;
			border-radius:40px;
			background-color:#46D0C2;
		}

		.number{
			position:relative;
			height:45px;
			width:65px;
			margin-left:22px;
			top:-30px;
			font-size:30px;
			font-weight:bold;
		}
		#step1{
			position:relative;
			margin-left:250px;
			margin-top:105px;
		}
		#step2{
			position:relative;
			margin-left:450px;
			margin-top:145px;
		}
		#step3{
			position:relative;
			margin-left:690px;
			margin-top:-220px;
		}
		#step4{
			position:relative;
			margin-left:970px;
			margin-top:125px;
		}
		#step-msg{
			position:relative;
			margin-left:-110px;
			top:-65px;
			width:400px;
			height:40px;
		}
		.longer{
			width:450px;
			height:35px;
			margin-bottom:20px;
			font-size:23px;
			color:#FFF;
		}

		.step-msg{
			width:450px;
			height:35px;
			font-size:21px;
			color:#FFF;
		}
		/*快速使用指南*/
		.foot{
			position:relative;
			width:100%;
			height:45px;
			margin-left:-580px;
			bottom:10px;
			text-align:center;
			
		}
		.foot-text{
			position:relative;
			Z-INDEX:0;
			font-size:14px;
			color:#FFF;
			text-align:center;
			float:right;
		}